@model Hospital_Management.Models.Department

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        
            <dt>
                <img src="@Model.Image" alt="" width="200" height="200" />
            </dt>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index","Home")
</p>
