@model Hospital_Management.Models.Department
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.Image" alt="" >
        <div class="caption">
            <h3>
                @Html.ActionLink(@Model.Name, "Details", "Departments", new { id = Model.Id }, null)
            </h3>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admins"))
                {
                    <p>
                        @Html.ActionLink("Edit",
                            "Edit", 
                            "Departments", new { id = Model.Id }, null)
                    </p>
                    <p>
                        @Html.ActionLink("Delete",
                            "Delete", 
                            "Departments", new { id = Model.Id }, null)
                    </p>
                }
            }
            
            <p>@Model.ShortDescription</p>
        </div>
    </div>
</div>